extends ../static-pages/layout
block content
  .block-header
    .row.clearfix
      .col-md-6.col-sm-12
        h1=title
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              |  BTS
            li.breadcrumb-item.active(aria-current='page')=title
  .row.clearfix        
    .col-lg-6.col-md-6.col-sm-12
      .card    
        .body
          div(style="display:flex")
            div(style="width:calc(100% - 50px)")
              .form-group.mb-4
                label.d-block
                  = 'Faaliyet Raporu - ' + data.faaliyetTaskCount + ' kayıt.'
                .progress.progress-xxs
                  .progress-bar( class="bg-indigo" role='progressbar' aria-valuenow=100 aria-valuemin='0' aria-valuemax='100' style=`width: 100%;`)
            div(style='width:50px;padding-left:20px')
              button.btn.btn-sm.btn-default#faaliyetRapor(type='button' data=index title='Yazdır' data-toggle='tooltip' data-placement='top')
                i.icon-printer
          div(style="display:flex")
            div(style="width:calc(100% - 50px)")
              .form-group.mb-4
                label.d-block
                  = 'İş Emirleri Tamamı - ' + data.isEmiriCount + ' kayıt.'
                .progress.progress-xxs
                  .progress-bar( class="bg-orange" role='progressbar' aria-valuenow=100 aria-valuemin='0' aria-valuemax='100' style=`width: 100%;`)
            div(style='width:50px;padding-left:20px')
              button.btn.btn-sm.btn-default#allTask(type='button' data=index title='Yazdır' data-toggle='tooltip' data-placement='top')
                i.icon-printer
          div(style="display:flex")
            div(style="width:calc(100% - 50px)")
              .form-group.mb-4
                label.d-block
                  = 'Kapanmış İş Emirleri - ' + data.months[0].basarili + ' kayıt.'
                .progress.progress-xxs
                  .progress-bar( class="bg-green" role='progressbar' aria-valuenow=100 aria-valuemin='0' aria-valuemax='100' style=`width: 100%;`)
            div(style='width:50px;padding-left:20px')
              button.btn.btn-sm.btn-default#thisMonthClosedTasks(type='button' data=index title='Yazdır' data-toggle='tooltip' data-placement='top')
                i.icon-printer
          div(style="display:flex")
            div(style="width:calc(100% - 50px)")
              .form-group.mb-4
                label.d-block
                  = 'Açık İş Emirleri - ' + data.months[0].bitmedi + ' kayıt.'
                .progress.progress-xxs
                  .progress-bar( class="bg-danger" role='progressbar' aria-valuenow=100 aria-valuemin='0' aria-valuemax='100' style=`width: 100%;`)
            div(style='width:50px;padding-left:20px')
              button.btn.btn-sm.btn-default#thisMonthOpenTasks(type='button' data=index title='Yazdır' data-toggle='tooltip' data-placement='top')
                i.icon-printer
          div(style="display:flex")
            div(style="width:calc(100% - 50px)")
              .form-group.mb-4
                label.d-block
                  = 'Personal Sayısı - ' + data.userCount + ' kayıt.'
                .progress.progress-xxs
                  .progress-bar( class="bg-azura" role='progressbar' aria-valuenow=100 aria-valuemin='0' aria-valuemax='100' style=`width: 100%;`)
            div(style='width:50px;padding-left:20px')
              button.btn.btn-sm.btn-default#users(type='button' data=index title='Yazdır' data-toggle='tooltip' data-placement='top')
                i.icon-printer
          div(style="display:flex")
            div(style="width:calc(100% - 50px)")
              .form-group.mb-4
                label.d-block
                  = 'Personel Bazlı'
                select.custom-select.mb-2(name="kullanici_id" ajax-key="k" enforced=true)
                  option(value="")="Seçiniz"
                  each s in data.personel
                    option(value=s["kullanici_id"])=s["kullanici_isim"] + ' ' +s["kullanici_soyisim"]
            div(style='width:50px;padding-left:20px')
              button.btn.btn-sm.btn-default#userTask(type='button' style='margin-top: 30px;' data=index title='Yazdır' data-toggle='tooltip' data-placement='top')
                i.icon-printer
          div(style="display:flex")
            div(style="width:calc(100% - 50px)")
              .form-group.mb-4
                label.d-block
                  = 'Bina Bazlı'
                select.custom-select.mb-2(name="bina_id" ajax-key="b" enforced=true)
                  option(value="")="Seçiniz"
                  each s in data.bina
                    option(value=s["bina_id"])=s["bina_adi"] 
            div(style='width:50px;padding-left:20px')
              button.btn.btn-sm.btn-default#binaTask(type='button' style='margin-top: 30px;' data=index title='Yazdır' data-toggle='tooltip' data-placement='top')
                i.icon-printer
    .col-lg-6.col-md-6.col-sm-12
      .card
        .body
          - const color= ["bg-azura","bg-danger","bg-green","bg-indigo","bg-orange","bg-red","bg-azura","bg-danger","bg-green","bg-indigo","bg-orange","bg-red"]
          each month,index in data.months
            div(style="display:flex")
              div(style="width:calc(100% - 50px)")
                .form-group.mb-4
                  label.d-block
                    = month.tarih + ' - ' + month.toplam + ' kayıt.'
                    span.float-right
                      = month.percent+"% "
                  .progress.progress-xxs
                    .progress-bar( class=color[index] role='progressbar' aria-valuenow=month.percent aria-valuemin='0' aria-valuemax='100' style=`width: ${month.percent}%;`)
              div(style='width:50px;padding-left:20px')
                button.btn.btn-sm.btn-default.month(type='button' data=index title='Yazdır' data-toggle='tooltip' data-placement='top')
                  i.icon-printer
block javascript
  script(src='/scripts/pages/report.js')
  script(src='/bundles/excel.js')              