extends ../static-pages/layout
block content
  .block-header
    .row.clearfix
      .col-md-6.col-sm-12
        h1=title
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              |  BTS
            li.breadcrumb-item.active(aria-current='page')=title
  .row.clearfix
    .col-lg-6.col-md-12.col-sm-12
      .row.clearfix
        .col-lg-6.col-md-6
          .card-wrapper.flip-left
            .card.s-widget-top
              .front.p-3.px-4
                div Kapanmış İş Emirleri
                .py-4.m-0.text-center.h2.text-success=data.months[0].basarili
                .d-flex
                  small.text-muted="Toplam: " + data.months[0].toplam
                  .ml-auto= data.months[0].percent +'%'
              .back.p-3.px-4.bg-info.text-center
                p.text-light Bu Ay
                .py-4.m-0.text-center.h2
                  i.icon-printer
        .col-lg-6.col-md-6
          .card-wrapper.flip-left
            .card.s-widget-top
              .front.p-3.px-4
                div Açık İş Emirleri
                .py-4.m-0.text-center.h2.text-danger=data.months[0].bitmedi
                .d-flex
                  small.text-muted="Toplam: " + data.months[0].toplam
                  .ml-auto= data.months[0].bitmeyenPercent +'%'
              .back.p-3.px-4.bg-info.text-center
                p.text-light Bu Ay
                .py-4.m-0.text-center.h2
                  i.icon-printer
        .col-lg-6.col-md-6
          .card-wrapper.flip-left
            .card.s-widget-top
              .front.p-3.px-4
                div Personal Sayısı
                .py-4.m-0.text-center.h2.text-info=data.userCount
              .back.p-3.px-4.bg-info.text-center
                p.text-light Personel Bilgileri
                .py-4.m-0.text-center.h2
                  i.icon-printer
        .col-lg-6.col-md-6
          .card-wrapper.flip-left
            .card.s-widget-top
              .front.p-3.px-4
                div İş Emirleri Tamamı
                .py-4.m-0.text-center.h2.text-info=data.isEmiriCount
              .back.p-3.px-4.bg-info.text-center
                p.text-light Hepsi
                .py-4.m-0.text-center.h2
                  i.icon-printer
    .col-lg-6.col-md-6.col-sm-12
      .card
        .body
          - const color= ["bg-azura","bg-danger","bg-green","bg-indigo","bg-orange","bg-red","bg-azura","bg-danger","bg-green","bg-indigo","bg-orange","bg-red"]
          each month,index in data.months
            div(style="display:flex")
              div(style="width:calc(100% - 50px)")
                .form-group.mb-4
                  label.d-block
                    = month.tarih 
                    span.float-right
                      = month.percent+"% "
                  .progress.progress-xxs
                    .progress-bar( class=color[index] role='progressbar' aria-valuenow=month.percent aria-valuemin='0' aria-valuemax='100' style=`width: ${month.percent}%;`)
              div(style='width:50px;padding-left:20px')
                button.btn.btn-sm.btn-default(type='button' title='Yazdır' data-toggle='tooltip' data-placement='top')
                  i.icon-printer