extends ../static-pages/layout
block content
  .block-header
    .row.clearfix
      .col-md-6.col-sm-12
        h1=title
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              |  BTS
            li.breadcrumb-item.active(aria-current='page')=title
  .row.clearfix
    .col-lg-3.col-md-6
      .card
        .body
          .d-flex.align-items-center
            .icon-in-bg.bg-indigo.text-white.rounded-circle
              i.fa.fa-building-o
            .ml-4
              span Toplam Bina Sayısı
              h4.mb-0.font-weight-medium=data.degerler.binaSayisi
    .col-lg-3.col-md-6
      .card
        .body
          .d-flex.align-items-center
            .icon-in-bg.bg-azura.text-white.rounded-circle
              i.fa.fa-users
            .ml-4
              span Toplam Personel Sayısı
              h4.mb-0.font-weight-medium=data.degerler.personelSayisi
    .col-lg-3.col-md-6
      .card
        .body
          .d-flex.align-items-center
            .icon-in-bg.bg-orange.text-white.rounded-circle
              i.icon-envelope
            .ml-4
              span Toplam İş Emri Sayısı
              h4.mb-0.font-weight-medium=data.degerler.isEmriSayisi
    .col-lg-3.col-md-6
      .card
        .body
          .d-flex.align-items-center
            .icon-in-bg.bg-pink.text-white.rounded-circle
              i.icon-layers
            .ml-4
              span Toplam Şube Sayısı
              h4.mb-0.font-weight-medium=data.degerler.subeSayisi
  .row.clearfix
    .col-lg-4.col-md-12
      .card
        .header
          h2 İş Emirleri
        .body
          .row.text-center
            .col-6.border-right.pb-4.pt-4
              label.mb-0 Açık Talepler
              h4.font-30.font-weight-bold.text-col-blue=data.degerler.isEmriSayisi - data.degerler.kapananIsEmirleri
            .col-6.pb-4.pt-4
              label.mb-0 Sonuçlanan Talepler
              h4.font-30.font-weight-bold.text-col-blue=data.degerler.kapananIsEmirleri
        .body
          .form-group
            label.d-block
              | Taleplerin Durumu
              span.float-right=data.percent
            .progress.progress-xxs
              .progress-bar.progress-bar-success(role='progressbar' aria-valuenow=data.percent aria-valuemin='0' aria-valuemax=data.percent style=`width: ${data.percent}%;`)
          //- .form-group
          //-   label.d-block
          //-     | Personel Musaitlik Durumu
          //-     span.float-right 50%
          //-   .progress.progress-xxs
          //-     .progress-bar.progress-bar-warning(role='progressbar' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100' style='width: 50%;')
    .col-lg-8.col-md-12
      .table-responsive
        table.table.table-hover.table-custom.spacing5
          thead
            tr
              th(style='width: 20px;') #
              th İş Emiri
              th(style='width: 120px;') Tarih
              th(style='width: 120px;') Durum
          tbody
block javascript           
  script.
    function getDasboardTableData(){
      Dynajax('isEmirleri','x',table,null,false);
    }
    function table(result){
      try{
          $(".table>tbody").html("");
          if(result.d && result.d.length){
            result.d.forEach(row=> {
              let tdExtra=""
             
              let color = "";
              if( row.is_emri_durum_key == "open"){
                color = 'danger';
              }else if( row.is_emri_durum_key == "success" ){
                color = 'success';
              }else if( row.is_emri_durum_key == "transfer" ){
                color = 'warning';
              }else if( row.is_emri_durum_key == "support" ){
                color = 'info';
              }else{
                color = 'primary';
              }
              let tr=`
                <tr class="tdata" row-id="${row.is_emri_id}" onclick="${`window.open('/web/form/is_emri/${row.is_emri_id}', '_self');`}">
                   <td><span>${row.is_emri_id} </span></td>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="ml-3"><a href="javascript:void(0);" title="">${ row.kullanici_isim + ' ' + row.kullanici_soyisim }</a>
                          <p class="mb-0">${row.is_emri_aciklama}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="mb-0">${ moment(row.guncellenme_zamani).format('Do MMMM YYYY, HH:mm') }</p>
                    </td>
                    <td><span class="badge badge-${color} ml-0 mr-0">${row.is_emri_durum_adi}</span></td>
                </tr>`
              $(".table>tbody").append(tr)
            })
          
          }else{
            $(".table>tbody").append(`<div>Tabloda veri yok.</div>`)
            $(".pagination").html("")
            $(".total").text("")
          }

        }catch(error){
          console.log(error)
        }
    }
    $(function() {
      moment.locale('tr');
      getDasboardTableData();
    });
