extends ../static-pages/layout
block content
  div(id="id"  data=targetData[data.idColName])
  div(id="table"  data=data.table)
  .block-header
    .row.clearfix
      .col-md-6.col-sm-12
        h1=title
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              |  BTS
            li.breadcrumb-item.active(aria-current='page')=title
  .row.clearfix
    .col-lg-12.col-md-12
      .card  
        ul.nav.nav-tabs2.space-between
          li.nav-item
            a.nav-link.show( href='#')="Kayıt Ekle"
          li.nav-item.float-right
            a.nav-link.active( href='/web/table/'+data.table)=title +" Tablosu"

        .tab-content    
          .tab-content
            .body
              form#form.form-auth-small.m-t-20(novalidate data-parsley-validate )
                include ./components/inputGen
                .form-footer
                  button.btn.btn-primary(type='submit') Kaydet
                  a(href='/web/table/'+data.table)
                    button.btn.btn-secondary(type='button' ) Vazgeç
                  if targetData && targetData[data.idColName] && targetData[data.idColName] != ""   
                    .float-right    
                      button.btn.btn-danger#deleteForm(type='button' ) Sil
block javascript 
  script(src='/scripts/pages/form.js')
