extends ../static-pages/layout
block content
  .block-header
    .row.clearfix
      .col-md-6.col-sm-12
        h1=title
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='#') BTS
            li.breadcrumb-item.active(aria-current='page')=title
  .row.clearfix
    .col-lg-12.col-md-12
      .card  
        ul.nav.nav-tabs2
          li.nav-item
            a.nav-link.show( href='/web/table/'+data.table)=title +" Tablosu"
          li.nav-item
            a.nav-link.active( href='#')="Kayıt Ekle"
        .tab-content    
          .tab-content
            .body
              form.form-auth-small.m-t-20(novalidate data-parsley-validate onsubmit="formValitdate(this);return false;")
                include ./components/inputGen
                .form-footer
                  button.btn.btn-primary(type='submit') Kaydet
                  a(href='/web/table/'+data.table)
                    button.btn.btn-secondary(type='button' ) Vazgeç
                  if targetData && targetData[data.idColName] && targetData[data.idColName] != ""   
                    .float-right    
                      button.btn.btn-danger(type='button' onclick=`Http.Delete('/api/${data.table}/delete/${targetData[data.idColName]}',formBasarili)`) Sil
  script.
    function formBasarili(obj){
      if(obj.status==1){
        setTimeout(()=>{
            showNotification(obj.message,"success");
            location.href="/web/table/#{data.table}";
        },1000)
      }else{
        showNotification(obj.message,"error");
      }

    }
  if targetData && targetData[data.idColName] && targetData[data.idColName] != "" 
    script.     
      function formValitdate(e){
          try {
            var form = $(e);
            form.parsley().validate();
            if(form.parsley().isValid()){
              Http.Put('/api/!{data.table}/update/!{targetData[data.idColName]}',collectData("f"),formBasarili)
            }
          }catch(e){
            console.log(e);
          }
            
      } 
  else 
    script.     
      function formValitdate(e){
          try {
            var form = $(e);
            form.parsley().validate();
            if(form.parsley().isValid()){
              Http.Post('/api/!{data.table}/add',collectData("f"),formBasarili)
            }
          }catch(e){
            console.log(e);
          }
            
      } 
