extends ../static-pages/layout
block style
  link(rel='stylesheet' href='/css/dataTables.bootstrap4.min.css')
block content
  div(id="data"  data=JSON.stringify(data))
  div(id="table"  data=data.table)
  .block-header
    .row.clearfix
      .col-md-6.col-sm-12
        h1=title
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              |  BTS
            li.breadcrumb-item.active(aria-current='page')=title
  .row.clearfix
    .col-lg-12
      .card
        ul.nav.nav-tabs2.space-between
          li.nav-item
            a.nav-link.show( href='#')=title +" Tablosu"
          li.nav-item
            a.nav-link.active( href='/web/form/'+data.table)="Kayıt Ekle"
        .tab-content
          #e_list.tab-pane.active
            .table-responsive
              -if(!data.dateIndex) data.dateIndex=[]
              -if(!data.soloDateIndex) data.soloDateIndex=[]
              -if(!data.props) data.props=[]
              -if(!data.hideColumn) data.hideColumn=[]
              #DataTables_Table_0_wrapper.dataTables_wrapper.dt-bootstrap4.no-footer
                .row
                  .col-sm-12
                    table#DataTables_Table_0.table.table-striped.table-hover.js-basic-example.dataTable.table-custom.mb-0.no-footer(role='grid' style="width: 100%;" aria-describedby='DataTables_Table_0_info')
                      thead
                        tr(role='row')
                          each key,i in data.tableHead
                            if data.hideColumn.includes(data.tableHead[i]) == false
                              th.sorting( style='width: 0px;' col=data.tableHead[i])=data.turkce[i]
                        tr(role='row')
                          each key,i in data.tableHead
                            if data.hideColumn.includes(data.tableHead[i]) == false
                              -var special= data.props[key] || {}
                              th(col=key|| data.tableHead[i] ).col-searcher                    
                                if special.t=="date"
                                  .input-group.no-border
                                    input.form-control.date(type='text' value='' extra="min" value-type="date" placeholder="Başlangıç tarihi")
                                  .input-group.no-border
                                    input.form-control.date(type='text' value='' extra="max" value-type="date" placeholder="Bitiş tarihi")
                                else if  special.t=="select"
                                  select.border-secondary.custom-select.mb-2
                                    option(value="") Hepsi
                                    each s in data.static[special.f]
                                      if s[key]==special.d
                                        option(value=s[key] selected)=s[special.k]
                                      else
                                        option(value=s[key])=s[special.k]
                                else if  special.t=="picture"
                                  div        
                                else   
                                  .input-group.no-border
                                    input.form-control(type='text' value='' placeholder=data.turkce[i] +" ara")
                      tbody
        .row
          .col-sm-12.col-md-12
            #DataTables_Table_0_info.dataTables_info.total(role='status' aria-live='polite')
            #DataTables_Table_0_paginate.dataTables_paginate.paging_simple_numbers.float-right
              ul.pagination
block javascript 
  script(src='/scripts/pages/table.js')
     
