extends ../static-pages/layout
block style
  link(rel='stylesheet' href='/css/dataTables.bootstrap4.min.css')
block content
  .block-header
    .row.clearfix
      .col-md-6.col-sm-12
        h1=title
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='#') BTS
            li.breadcrumb-item.active(aria-current='page')=title
  .row.clearfix
    .col-lg-12
      .card
        ul.nav.nav-tabs2
          li.nav-item
            a.nav-link.show( href='/web/form/'+data.table)="Kayıt Ekle"
          li.nav-item
            a.nav-link.active( href='#')=title +" Tablosu"
        .tab-content
          #e_list.tab-pane.active
            .table-responsive
              -if(!data.dateIndex) data.dateIndex=[]
              -if(!data.soloDateIndex) data.soloDateIndex=[]
              -if(!data.props) data.props=[]
              #DataTables_Table_0_wrapper.dataTables_wrapper.dt-bootstrap4.no-footer
                .row
                  .col-sm-12
                    table#DataTables_Table_0.table.table-striped.table-hover.js-basic-example.dataTable.table-custom.mb-0.no-footer(role='grid' style="width: 100%;" aria-describedby='DataTables_Table_0_info')
                      thead
                        tr(role='row')
                          each key,i in data.tableHead
                            th.sorting( style='width: 0px;' col=data.tableHead[i])=data.turkce[i]
                        tr(role='row')
                          each key,i in data.tableHead
                            -var special= data.props[key] || {}
                            th(col=key|| data.tableHead[i] ).col-searcher                    
                              if special.t=="date"
                                .input-group.no-border
                                  input.form-control.date(type='text' value='' extra="min" value-type="date" placeholder="Başlangıç tarihi")
                                .input-group.no-border
                                  input.form-control.date(type='text' value='' extra="max" value-type="date" placeholder="Bitiş tarihi")
                              else if  special.t=="select"
                                select.border-secondary.custom-select.mb-2
                                  option(value="") Hepsi
                                  each s in data.static[special.f]
                                    if s[key]==special.d
                                      option(value=s[key] selected)=s[special.k]
                                    else
                                      option(value=s[key])=s[special.k]
                              else if  special.t=="picture"
                                div        
                              else   
                                .input-group.no-border
                                  input.form-control(type='text' value='' placeholder=data.turkce[i] +" ara")
                      tbody
        .row
          .col-sm-12.col-md-12
            #DataTables_Table_0_info.dataTables_info.total(role='status' aria-live='polite')
            #DataTables_Table_0_paginate.dataTables_paginate.paging_simple_numbers.float-right
              ul.pagination
block javascript 
    script. 
      var data=!{JSON.stringify(data)}
      data.orderType="D"
      data.orderBy=data.orderBy 
      data.current=1
      if(!data.srcTxt) data.srcTxt=[]
      function table(result){
        try{
          $(".table>tbody").html("");
          if(result.d && result.d[0]?.length){
            result.d[0].forEach(row=> {
                let tdExtra=""
                if (data.checkbox || data.customNotifyText  ){
                  tdExtra+=`<td class="notify center"  onclick="notify(${row.id},this)"> 
                              <div class="form-check">
                                <label class="form-check-label" for="cb${row.id}">
                                  <input class="form-check-input" id="cb${row.id}" type="checkbox" name="cb" onclick="event.stopPropagation();" ${row.notify && row.notify==1 ? "checked" : "" }><span class="form-check-sign"></span>
                                </label>
                              </div>
                            </td>`
                }
                if(data.skip){
                  tdExtra+=`<td class="center" >
                        <button class="btn btn-danger btn-icon btn-sm" type='button' rel='tooltip' onclick='skip(${row.id})'>
                        <i class="fa fa-times"></i>
                        </button> 
                      </td>`
                }
                if(data.checker){
                  if(row.adi){
                    tdExtra+=`<td class="checker center" onclick="checker(${row.id},this)"> 
                        <div class="form-check">
                          <label class="form-check-label" for="ccb${row.id}">
                            <input class="form-check-input" id="ccb${row.id}" type="checkbox" name="cb" onclick="event.stopPropagation();" ${row.checker && row.checker==1 ? "checked" : "" }><span class="form-check-sign"></span>
                          </label>
                        </div>
                      </td>`
                  }else{
                    tdExtra+=`<td class="center" >
                        <i class="fa fa-times"></i>
                      </td>`
                  }
                }
                if(data.customCheckbox!=undefined){
                  let check=customCheckboxRender(row.id)  
                  if( $("[row-id='"+row.id+"']").length==0 )
                  tdExtra+=`<td class="center" ${data.customCheckbox}  onclick="customCheckbox(${row.id},this)"> 
                              <div class="form-check">
                                <label class="form-check-label" for="cu${row.id}">
                                  <input class="form-check-input" id="cu${row.id}" type="checkbox" name="cb" onclick="event.stopPropagation();" ${check  ? "checked" : "" }><span class="form-check-sign"></span>
                                </label>
                              </div>
                            </td>`
                }
              let tr=`
                  <tr class="tdata" row-id="${row[data.idColName]}" onclick="${data.link==undefined ? `window.open('/web/form/${data.table}/${row[data.idColName]}', '_blank');` : `window.open('${data.link+row.id}', '_blank');`}">
                      ${data.tableHead.map((key,index)=>{
                        let td;
                        if(!data.dateIndex) data.dateIndex=[]
                        if(data.dateIndex.some(dt=>dt-1==index  )){
                          let tmp = row[key].substring(0,10).split("-")
                          td= tmp[2]+"-"+tmp[1]+"-"+tmp[0]
                        }else if(data.props[key]?.t=="picture"){
                          if(row[key]){
                            td=`<img class="w35 h35 rounded" src='/firmaImages/default/image_placeholder.jpg' onerror="this.onerror=null; this.src='/firmaImages/default/image_placeholder.jpg'"> `
                          }
                          else{
                            td=`<img class="w35 h35 rounded" src='/firmaImages/default/image_placeholder.jpg'>`
                          }
                        }else{
                          let special= data.props[key] || {}
                          if(special.k) td=row[special.k] || ""
                          else td= row[key] || ""
                        }
                        return "<td>"+ td +"</td>"
                      }).join("")}   
                      ${tdExtra}                       
                  </tr>`
              $(".table>tbody").append(tr)
            })
            //pager
            var max ; 
            if(result.d[1][0].max)
            max = result.d[1][0].max;
            else max=99999
            $(".total").text(`Toplam Sayfa Sayısı:${Math.ceil(max / 16)}`)
            data.max = max < 16 ? 1 : Math.ceil(max / 16);
            var pager="";
            var tmpUrl= (data.pageLink!=null ? data.pageLink : data.link) + (data.table!=null ? data.table : "table/")
            if (data.current!=1){
              pager+=`<li class="page-item"><a class="page-link" onclick="data.current=${ parseInt(data.current-1) };refresh()" href="javascript:void(0);">«</a></li>`
            }
            var i = 3,j=1; 
            while (i>0){
              if (data.current-i > 0){
                pager+=`<li class="page-item"><a class="page-link" onclick="data.current=${ parseInt(data.current-i) };refresh()" href="javascript:void(0);">${data.current-i}</a></li>`
              }
              i--
            }
            pager+= `<li class="page-item active"><a class="page-link" href="javascript:void(0);">${data.current}</a></li>`
            while (j<4){
              if (data.current+j <= data.max){
                pager+=`<li class="page-item"><a class="page-link" onclick="data.current=${ parseInt(data.current+j) };refresh()" href="javascript:void(0);">${data.current+j}</a></li>`
                
              }
              j++
            }
            if(data.current<data.max){
              pager+=`<li class="page-item"><a class="page-link" onclick="data.current=${ parseInt(data.current+1) };refresh()" href="javascript:void(0);">»</a></li>`
            }
            $(".pagination").html(pager)
          }else{
            $(".table>tbody").append(`<div>Tabloda veri yok.</div>`)
            $(".pagination").html("")
            $(".total").text("")
          }

        }catch(error){
          console.log(error)
        }
      }
      $(function() {

        refresh()
        $("thead tr").eq(0).find("th").click(function(){
            var s=$(this).attr("col")
            if(s==data.orderBy){
              data.orderType= data.orderType=="A" ? "D" : "A"
            }else{
              data.orderBy=s
              data.orderType="D"
            }
            $("thead th").removeClass("sorting_desc").removeClass("sorting_asc");
            $(this).removeClass("sorting");
            if(data.orderType=="A"){
              $(this).addClass("sorting_asc");
            }else{
              $(this).addClass("sorting_desc");
            }
            refresh()
        })
        $("thead .col-searcher input.date").change(function(){
          if($(this).val().length==10){
            refresh(1,this)
          }
        })
        $("thead .col-searcher select,input[type='checkbox']").change(function(){
          refresh(1,this)
        })
        $("thead .col-searcher input").keyup(function(e){
            if(e.keyCode == 13)
            { 
              refresh(1,this)
            }
        });
        $('#search-box>input').keyup(function(e){
            if(e.keyCode == 13)
            { 
                refresh(1,this)
            }
        });
      });
      function refresh(c,_this){
        let k,v,e;
        if(_this){
          k=$(_this).closest( ".col-searcher" ).attr("col");
          t=$(_this).attr("type")
          if(t=="checkbox"){
            if(_this.checked) v=1
          }else v=$(_this).val()
          e=$(_this).attr("extra")
        }
        if(c) {
          data.current=c;
        }
        if(k){
          let indx=data.srcTxt.findIndex(x=> x.k==k )
          if(indx>-1) data.srcTxt.splice(indx,1)
          if(v && v!="") {
            if(t){
              if(t=="date"){
                v=convertTime(v)
              }
            }
            data.srcTxt.push({k:k,v:v,e:e})
          }
        }
        var postData={ current:(data.current-1)*16,orderBy:data.orderBy,orderType:data.orderType,srcTxt:data.srcTxt }
        Object.assign(postData, data.sqlData);
        Dynajax('table/#{data.table}','x',table,null,false,postData);
        window.scroll(0,findPos(document.querySelector(".table")));
      }
      function skip(id){
        event.stopPropagation();
        Dynajax('skip','s',function(obj,callbackData){
           if(obj.status){
              showNotification('top','right',"success",obj.message);
              $(`[row-id='${id}']`).remove()
          }
        },{id:id},false,{ targetId:parseInt(id) },true);
        event.cancelBubble=true
      }
      function pdf(result){
        var output=[]
        output.push(result.d.col)
        result.d.data.forEach(x=> {
          let tmp=[]
          result.d.col.forEach(y=> tmp.push(x[y]))
          output.push(tmp)
        })
        download(output)
      }
    if data.notifyLink
      script.
        function notify(id,_this){
            var tmpStatus=_this.querySelector("input[type='checkbox']").checked
            Dynajax('#{data.notifyLink}','l',setChecked,{t:_this,rc:tmpStatus},false,{ status:tmpStatus,id:#{ data.id && data.id!="table" ? data.id  :  "null" },targetId:parseInt(id)});
            event.stopPropagation();
        }    
    else
      script.
        function notify(id,_this){
            event.stopPropagation();
            var tmpStatus=_this.querySelector("input[type='checkbox']").checked
            Dynajax('setNotify','l',setChecked,{t:_this,rc:tmpStatus},false,{ status:tmpStatus,typeId:#{  data.typeId ? JSON.stringify(data.typeId)  :  "null"  },targetId:parseInt(id)});
        }
    if data.checker
        script.
          function checker(id,_this){
              event.stopPropagation();
              var tmpStatus=_this.querySelector("input[type='checkbox']").checked
              Dynajax('checker','l',setChecked,{t:_this,rc:tmpStatus},false,{ status:tmpStatus,targetId:parseInt(id)});
          }
