extends ../static-pages/layout
block content
  div(id="id"  data=targetData[data.idColName])
  div(id="table"  data=data.table)
  -const gun = ["Pazartesi","Salı","Çarşamba","Perşembe","Cuma","Cumartesi","Pazar"]
  .block-header
    .row.clearfix
      .col-md-6.col-sm-12
        h1=title
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              |  BTS
            li.breadcrumb-item.active(aria-current='page')=title
  .row.clearfix
    .col-lg-12.col-md-12
      .card  
        ul.nav.nav-tabs2.space-between
          li.nav-item
            a.nav-link.show( href='#')="Kayıt Ekle"
          li.nav-item.float-right
            a.nav-link.active( href='/web/table/'+data.table)=title +" Tablosu"
        .tab-content    
          .tab-content
            .body
              form.form-auth-small.m-t-20#form(novalidate data-parsley-validate )
                include ./components/inputGen
                div(id="binaListArea" style="overflow-x: auto;")  
                  if targetData && targetData[data.idColName] && targetData[data.idColName] != ""  && targetData["data"] && JSON.parse(targetData["data"]).length != 0 
                    div(style="width: 100%;display: flex;margin-left:30px")
                      -const binaArrData = JSON.parse(targetData["data"])
                      each g,index in binaArrData
                        div( style="width: 300px;" gun=index)  
                          .form-group 
                            span='-- '+gun[index] 
                          each item in g
                            div(class="mb-3 bina" style="width: 100%;display:flex;" )
                              div(style="width: 200px;")
                                .form-group  
                                  label Bina 
                                  select.select2(name="bina_id" initialValue=item )
                                    option(value='' selected='' )= "Seçiniz"
                              div(style="width: 100px;margin-left:10px")
                                button.btn.btn-success.mt-4.addNode(type='button'  ) +
                                button.btn.btn-danger.mt-4.deleteNode(type='button'  ) -
                          if g.length == 0
                            div(class="mb-3 bina" style="width: 100%;display:flex;" )
                              div(style="width: 200px;")
                                .form-group  
                                  label Bina 
                                  select.select2(name="bina_id"  )
                                    option(value='' selected='' )= "Seçiniz"
                              div(style="width: 100px;margin-left:10px")
                                button.btn.btn-success.mt-4.addNode(type='button'  ) +
                                button.btn.btn-danger.mt-4.deleteNode(type='button'  ) -      
                  else
                    div(style="width: 100%;display: flex;margin-left:30px") 
                      each d,index in gun
                        div( style="width: 300px;" gun=index)  
                          .form-group 
                            span='-- '+d
                          div(class="mb-3 bina" style="width: 100%;display:flex;" )
                            div(style="width: 200px;")
                              .form-group  
                                label Bina 
                                select.select2(name="bina_id"  )
                                  option(value='' selected='' )= "Seçiniz"
                            div(style="width: 100px;margin-left:10px")
                              button.btn.btn-success.mt-4.addNode(type='button'  ) +
                              button.btn.btn-danger.mt-4.deleteNode(type='button'  ) -
                .form-footer
                  button.btn.btn-primary(type='submit') Kaydet
                  a(href='/web/table/'+data.table)
                    button.btn.btn-secondary(type='button' ) Vazgeç
                  if targetData && targetData[data.idColName] && targetData[data.idColName] != ""   
                    .float-right    
                      button.btn.btn-danger#deleteForm(type='button' ) Sil

block javascript 
  script(src='/scripts/pages/temizlik.js')