extends ../static-pages/layout
block content
  div(id="id"  data=targetData[data.idColName])
  div(id="table"  data=data.table)
  .block-header
    .row.clearfix
      .col-md-6.col-sm-12
        h1=title
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              |  BTS
            li.breadcrumb-item.active(aria-current='page')=title
  .row.clearfix
    .col-lg-12.col-md-12
      .card  
        ul.nav.nav-tabs2.space-between
          li.nav-item
            a.nav-link.show( href='#')="Kayıt Ekle"
          li.nav-item.float-right
            a.nav-link.active( href='/web/table/'+data.table)=title +" Tablosu"
        .tab-content    
          .tab-content
            .body
              form.form-auth-small.m-t-20#form(novalidate data-parsley-validate )
                include ./components/inputGen
                div(id="binaListArea" )  
                  div(class="row col-md-12" )
                    div(class="col-md-12")                    
                      .form-group 
                        span -- Temizlik Sırası
                  if targetData && targetData[data.idColName] && targetData[data.idColName] != ""  && targetData["data"] && JSON.parse(targetData["data"]).length != 0 
                    -const binaArrData = JSON.parse(targetData["data"])
                    each item in binaArrData
                      div(class="row col-md-12 mb-3 bina" )
                        div(class="col-md-4")
                          .form-group  
                            label Bina 
                            select.select2(name="bina_id" initialValue=item.bina_id )
                              option(value='' selected='' )= "Seçiniz"
                        div(class="col-md-4")
                          .form-group  
                            label Durum 
                            select.custom-select.mb-2(name="temizlik_durum_id" ajax-key="f")
                              option(value="")="Seçiniz"
                              each s in data.static["temizlik_durum"]
                                if s["temizlik_durum_id"]==item.temizlik_durum_id
                                  option(value=s["temizlik_durum_id"] selected)=s["temizlik_durum_adı"]
                                else
                                  option(value=s["temizlik_durum_id"])=s["temizlik_durum_adı"]
                        div(class="col-md-4")
                          button.btn.btn-success.btn-round.mt-4.addNode(type='button'  ) Yeni Ekle
                          button.btn.btn-danger.btn-round.mt-4.deleteNode(type='button'  ) Sil   
                  else
                    div(class="row col-md-12 mb-3 bina" )
                      div(class="col-md-4")
                        .form-group  
                          label Bina 
                          select.select2(name="bina_id"  )
                            option(value='' selected='' )= "Seçiniz"
                      div(class="col-md-6")
                        button.btn.btn-success.btn-round.mt-4.addNode(type='button'  ) Yeni Ekle
                        button.btn.btn-danger.btn-round.mt-4.deleteNode(type='button'  ) Sil
                .form-footer
                  button.btn.btn-primary(type='submit') Kaydet
                  a(href='/web/table/'+data.table)
                    button.btn.btn-secondary(type='button' ) Vazgeç
                  if targetData && targetData[data.idColName] && targetData[data.idColName] != ""   
                    .float-right    
                      button.btn.btn-danger#deleteForm(type='button' ) Sil

block javascript 
  script(src='/scripts/pages/temizlik.js')