nav.navbar.top-navbar
    .container-fluid
        .navbar-left
          .navbar-btn
            a(href="index.html")
              img.img-fluid.logo(src="../assets/images/icon.svg", alt="Oculux Logo")
            button.btn-toggle-offcanvas(type="button")
              i.lnr.lnr-menu.fa.fa-bars
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle.icon-menu(href="javascript:void(0);", data-toggle="dropdown")
                i.icon-bell
                span.notification-dot.bg-azura#notifCount=notif.length
              ul(class="dropdown-menu feeds_widget vivify fadeIn")
                li.header.blue#notifHeader=notif.length != 0 ? notif.length+ " Adet Yeni Bildirim Var" : " Yeni Bildirim Yok"
                div#notifs 
                    each item in notif    
                        li
                            a(href="/web/form/is_emri/"+item.is_emri_id, target="_blank")
                                .feeds-left.bg-orange
                                    i.fa.fa-warning
                                .feeds-body
                                    h4.title.text-warning
                                        | Ödeme Talebi
                                        small.float-right.text-muted=moment(item.yonelendirme_date).format('Do MMMM YYYY, HH:mm')
                                    div
                                        small=item.is_emri_aciklama || "Açıklama Bulunamadı!"
                                        small.float-right.text-muted=" İş Emri :"+ item.is_emri_id
        .navbar-right
            #navbar-menu
                ul.nav.navbar-nav
                    li
                        a.icon-menu(href='/web/invite')
                            i.icon-share-alt
                    li
                        a.icon-menu(href='/web/exit')
                            i.icon-power
    .progress-container
        #myBar.progress-bar