#left-sidebar.sidebar
    .navbar-brand
        a(href='/web/dashboard')
            img.img-fluid.logo(src='/images/icon.svg' alt='Oculux Logo')
            span Bina Takip Sistemi
        button.btn-toggle-offcanvas.btn.btn-sm.float-right(type='button')
            i.lnr.lnr-menu.icon-close
    .sidebar-scroll
        .user-account
            .user_div
                img.user-photo(src='/images/user.png' alt='User Profile Picture')
            .dropdown
                span Hoşgeldin,
                a.dropdown-toggle.user-name(href='javascript:void(0);' data-toggle='dropdown')
                    strong=session.kullanici_isim +" "+ session.kullanici_soyisim
                ul.dropdown-menu.dropdown-menu-right.account.vivify.flipInY
                    li
                        a(href='page-profile.html')
                            i.icon-user
                            | My Profile
                    li
                        a(href='app-inbox.html')
                            i.icon-envelope-open
                            | Messages
                    li
                        a(href='javascript:void(0);')
                            i.icon-settings
                            | Settings
                    li.divider
                    li
                        a(href='page-login.html')
                            i.icon-power
                            | Logout
        nav#left-sidebar-nav.sidebar-nav
            if menu != null
                ul#main-menu.metismenu
                    each menuItem in menu
                        if menuItem.auth == undefined || ( menuItem.auth && menuItem.auth.includes(auth) )
                            if menuItem.children 
                                li.header=menuItem.title
                                each menuChildItem in menuItem.children    
                                    if menuChildItem.auth == undefined || ( menuChildItem.auth && menuChildItem.auth.includes(auth) )
                                        if menuChildItem.table
                                            li
                                                a.has-arrow(href='#'+menuChildItem.table)
                                                    i(class=tables[menuChildItem.table] && tables[menuChildItem.table].icon )
                                                    if tables[menuChildItem.table]
                                                        span=tables[menuChildItem.table].title
                                                    else 
                                                        span=menuChildItem.table 
                                                ul
                                                    li
                                                        a(href='/web/table/'+menuChildItem.table)
                                                            i(class="icon-list")
                                                            span="Tablo"
                                                    li
                                                        a(href='/web/form/'+menuChildItem.table)
                                                            i(class="icon-pencil")
                                                            span="İçerik Ekle"
                                        else 
                                            li
                                                a(href=menuChildItem.link)
                                                    i(class=menuChildItem.icon )
                                                    span=menuChildItem.title                                                      
                            else
                                li
                                    a(href=menuItem.link)=menuItem.title                            

